<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lej.book.main.model.mapper.MainMapper">

	<!-- 모든 책 조회 -->
	<select id="selectBookList">
		SELECT BOOK_NO, BOOK_TITLE, BOOK_WRITER, BOOK_PRICE,
			 TO_CHAR(REG_DATE,'YYYY-MM-DD') REG_DATE
		FROM "BOOK"
	</select>
	
	<!-- 책 등록 -->
	<insert id="addBook">
		INSERT INTO BOOK 
		VALUES (SEQ_BOOK_NO.NEXTVAL, 
					#{bookTitle], 
					#{bookWriter}, 
					#{bookPrice}, 
					DEFAULT)
	</insert>
	
</mapper>
